attrs>=23.2.0
auditwheel>=1.7.0
coverage>=4.4.2
docutils>=0.14
execnet>=2.1.1
flake8>=3.5.0
isort>=5.13.2
mccabe>=0.6.1
pluggy>=0.6.0
py>=1.11.0
pycodestyle>=2.3.1
pyelftools>=0.31
pyflakes>=1.6.0
Pygments>=2.2.0
pytest>=3.3.1
pytest-cache>=1.0
pytest-cov>=2.5.1
pytest-isort>=0.1.0
pytest-sugar>=0.9.0
six>=1.16.0
termcolor>=2.4.0
typing>=3.7.4.3
